
@font-face {
  font-family: 'serif';
  font-style: normal;
  font-weight: 100;
  src: local('NotoSerifKR-ExtraLight'),
  url('../fonts/NotoSerifKR-ExtraLight.otf') format('otf'),
  url('../fonts/NotoSerifKR-ExtraLight.woff') format('woff'),
  url('../fonts/NotoSerifKR-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'serif';
  font-style: normal;
  font-weight: 200;
  src: local('NotoSerifKR-Light'),
  url('../fonts/NotoSerifKR-Light.otf') format('otf'),
  url('../fonts/NotoSerifKR-Light.woff') format('woff'),
  url('../fonts/NotoSerifKR-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'serif';
  font-style: normal;
  font-weight: 300;
  src: local('NotoSerifKR-Regular'),
  url('../fonts/NotoSerifKR-Regular.otf') format('otf'),
  url('../fonts/NotoSerifKR-Regular.woff') format('woff'),
  url('../fonts/NotoSerifKR-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'serif';
  font-style: normal;
  font-weight: 400;
  src: local('NotoSerifKR-Medium'),
  url('../fonts/NotoSerifKR-Medium.otf') format('otf'),
  url('../fonts/NotoSerifKR-Medium.woff') format('woff'),
  url('../fonts/NotoSerifKR-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'serif';
  font-style: normal;
  font-weight: 500;
  src: local('NotoSerifKR-SemiBold'),
  url('../fonts/NotoSerifKR-SemiBold.otf') format('otf'),
  url('../fonts/NotoSerifKR-SemiBold.woff') format('woff'),
  url('../fonts/NotoSerifKR-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'serif';
  font-style: normal;
  font-weight: 600;
  src: local('NotoSerifKR-Bold'),
  url('../fonts/NotoSerifKR-Bold.otf') format('otf'),
  url('../fonts/NotoSerifKR-Bold.woff') format('woff'),
  url('../fonts/NotoSerifKR-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'serif';
  font-style: normal;
  font-weight: 700;
  src: local('NotoSerifKR-Black'),
  url('../fonts/NotoSerifKR-Black.otf') format('otf'),
  url('../fonts/NotoSerifKR-Black.woff') format('woff'),
  url('../fonts/NotoSerifKR-Black.woff2') format('woff2');
}
