.oil {
  @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
  // @import url(https://fonts.googleapis.com/css?family=Noto+Serif+KR);

  @mixin font($type:'init') {
    @if ($type == 'init') {
      font-family: 'Noto Sans KR', sans-serif;
    }
    @if ($type == 'serif') {
      font-family: 'serif', serif;
    }
  }
  @mixin media-mo() {
    @media (max-width: 767+'px') {
      @content;
    }
  }
  @mixin auto-count($number, $start-number:1, $type:'pc') {
    &:before {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
    }
    @for $i from $start-number through $number {
      &:nth-child(#{$i}) {
        &:before {
          content:'#{$i}'
        }
      }
    }
    @content;
  }
  @function func_calc($nth, $margin-right) {
    // 전체 길이에서  list-1 만큼 margin-right 곱해서 빼고, 그 값에서 list 나누기
    $nth2: $nth - 1;
    @return calc((100% - (#{$nth2} * #{$margin-right})) / #{$nth});
  }
  @mixin absolute-full {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  $img-root: '../images/';
  $right-brown: #e9bc91;
  $brown: #d29467;
  $red: #c93935;
  .pc-layer {
    display: block;
    @include media-mo {
      display: none;
    }
  }
  .m-layer {
    display: none;
    @include media-mo(){
      display: block;
    }
  }
  .color-right-brown {
    color: $right-brown;
  }
  .color-brown {
    color: #d29467;
  }
  .color-red {
    color: #c93935;
  }

  position: relative;
  > * {
    @include font(init);
  }
  .wrapper {
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
  }
  
  .header {
    position: relative;
    height: 880px;
    background: url('#{$img-root}kv-bg.png') no-repeat center top;
    background-size: cover;
    .wrapper {
      position: relative;
    }
    .title-desc, .big-title {
      color: #d29467;
    }
    .title-desc {
      position: absolute;
      top: 54.3%;
      left: 34.7%;
      font-size: 31px;
      @include font(serif);
      line-height: 1.48;
    }
    .sub-desc {
      position: absolute;
      top: 66.2%;
      left: 34.7%;
      font-size: 19px;
      color: rgba(#c7ab97, 0.63);
      @include font(serif);
      line-height: 2;
    }
    .big-title {
      position: absolute;
      top: 192px;
      right: 155px;
      font-size: 68px;
      @include font(serif);
      &:before {
        position: absolute;
        width: 94px;
        height: 84px;
        top: -112px;
        left: 32px;
        background: url('../images/헤더로고.png') no-repeat center;
        background-size: contain;
        content:'';
      }
      strong  {
        position: relative;
        display: inline-block;
        margin-bottom: 20px;
        left: -7px;
        font-size: 89px;
        font-weight: 500;
      }
      .left, .right {
        display: inline-block;
        vertical-align: top;
      }
      .left {
        width: 63px;
      }
      .right{
        width: 27px;
        margin-top: -15px;
      }
    }
  }

  .special-event {
    padding: 112px 0 110px 0;
    background: #e2cdc3;
    .title-header, .title, .desc {
      text-align: center;
    }
    .title-area {
      .title-header {
        height: 60px;
        font-size: 29px;
        color: #96120e;
        background: url('#{$img-root}스페셜타이틀이미지.png') no-repeat center;
        line-height: 60px;
      }
      .title {
        margin-top: 58px;
        font-size: 46px;
        color: #431715;
        @include font(serif);
        strong {
          display: block;
          margin-top: 31px;
          color: #904514;
          font-size: 75.5px;
          @include font(init);
          span {
            color: #97110d;
          }
        }
      }
    }
    .desc {
      margin-top: 49px;
      color: #3d1614;
      font-size: 22px;
      letter-spacing: -0.25;
      @include font(serif);
      line-height: 1.64;
      font-weight: 500;
    }
    .date {
      margin-top: 94px;
      text-align: center;
      li {
        display: inline-block;
        font-size: 26.5px;
        &:last-child {
          margin-left: 73px;
        }
      }
      span {
        display: inline-block;
        margin-right: 4px;
        width: 215px;
        height: 48px;
        line-height: 46px;
        background: #96120e;
        border-radius: 10vw;
        font-size: 25.5px;
        text-align: center;
        color: #efd1c2;
      }
    }
    .card-wrap {
      .card {
        position: relative;
        display: inline-block;
        margin-top: 133px;
        height: 431px;
        padding: 50px 0px 0px 0px;
        vertical-align: top;
        text-align: center;
        border: solid 1px #8c6350;
        box-sizing: border-box;
        &.left {
          position: relative;
          width: 370px;
          margin-right: 22px;
          @include media-mo() {
            width: auto;
          }
          li {
            width: 100%;
          }
          .text {
            top: 84%;
          }
          .img {
            position: absolute;
            top: -50px;
            left: -44px;
            width: 399px;
            height: 271px;
            background: url('#{$img-root}스페셜아이템1.png') no-repeat center;
            background-size: contain;
          }
        }
        &.right {
          width: 800px;
          @include media-mo() {
            width: auto;
          }
          .one {
            width: 150px;
            .img {
              margin-top: -20px;
              width: 143px;
              height: 257px;
              background: url('#{$img-root}스페셜아이템2.png') no-repeat center;
              background-size: contain;
            }
          }
          .two {
            .img {
              margin-top: 50px;
              width: 235px;
              height: 145px;
              background: url('#{$img-root}스페셜아이템3.png') no-repeat center;
              background-size: contain;
            }
          }
          .three {
            .img {
              width: 214px;
              height: 219px;
              background: url('#{$img-root}스페셜아이템4.png') no-repeat center;
              background-size: contain;
            }
          }
        }
        .title {
          position: relative;
          display: inline-block;
          top: -65px;
          // transform: translateX(-50%);
          // left: 50%;
          margin: auto;
          font-size: 27px;
          color: #754935;
          font-weight: 600;
          &:after {
            position: absolute;
            width: calc(100% + 20px);
            height: 100%;
            left: -10px;
            background: #e2cdc3;
            z-index: 1;
            content:'';
          }
          span {
            position: relative;
            z-index: 2;
          }
        }
        ul {
          li {
            position: relative;
            display: inline-block;
            height: 298px;
            margin-right: 39px;
            vertical-align: middle;
            &:last-child {
              margin-right: 0;
            }
            .two {
              .img {
                margin-top: 60px;
              }
            }
          }
        }
        .text {
          position: absolute;
          top: 86%;
          right: 0;
          left:0;
          text-align: center;
          font-size: 19px;
          strong {
            display: block;
            margin-bottom: 6px;
          }
          p {
            margin-bottom: 6px;
            font-weight: 500;
          }
          .pin {
            display: inline-block;
            margin-right: 6px;
            width: 66px;
            height: 25px;
            color: white;
            line-height: 25px;
            background: #b78d79;
            + strong {
              display: inline-block;
            }
          }
          .comment {
            display: block;
            margin-top: 6px;
            color: #a76c51;
            font-size: 16px;
          }
        }
      }
    }
  }

  .event {
    padding: 110px 0 104px 0;
    background: url('../images/이벤트부분검은배경.png') no-repeat center;
    .title-img {
      text-align: center;
      font-size: 17px;
      color: #f1e8e2;
      &:before {
        display: block;
        margin: 0 auto 11px auto;
        width: 141px;
        height: 29px;
        background: url('#{$img-root}event-title.png') no-repeat center;
        background-size: contain;
        content:'';
      }
    }
    .title, .desc {
      text-align: center;
    }
    .title {
      margin-top: 53px;
      font-size: 70px;
      color: #d29467;
      @include font(serif);
    }
    .desc {
      margin-top: 29px;
      font-size: 24px;
      color: #8c6663;
      line-height: 1.5;
      font-weight: 300;
    }
    .event1 {
      .question {
        text-align: center;
        .mark-img {
          display: inline-block;
          vertical-align: top;
          span {
            display: inline-block;
            width: 98px;
            height: 112px;
            background: url('../images/큐.png') no-repeat center;
            vertical-align: middle;
          }
          &:after {
            display: inline-block;
            margin: 0px 36px 0px 48px;
            width: 3px;
            height: 143px;
            vertical-align: middle;
            background: url('../images/큐라인.png') no-repeat center;
            content:'';
          }
        }
        .text {
          position: relative;
          display: inline-block;
          top: -9px;
          color: white;
          text-align: left;
          vertical-align: middle;
          @include font(serif);
          font-size: 30px;
          line-height: 1.7;
          .color {
            color: #d29467;
          }
          .underline {
            display: inline-block;
            position: relative;
            &:after {
              position: absolute;
              left: 0;
              width: 100%;
              height: 1px;
              bottom: 8px;
              background: #acaaaa;
              content:'';
            }
          }
        }
      }
      .content-wrap {
        margin-top: 58px;
        padding-top: 80px;
        width: 1200px;
        height: 740px;
        background:url('../images/이벤트1배경.png') no-repeat center top;
        @include media-mo() {
          width: auto;
        }
        .input-area {
          margin-top: 57px;
          text-align: center;
        }
        input {
          display: inline-block;
          margin-right: 5px;
          padding-left: 10px;
          width: 170px;
          height: 200px;
          border-radius: 20px;
          background: #f1e8e2;
          font-size: 160px;
          box-sizing: border-box;
          font-weight: 600;
          &:last-child {
            margin-right: 0;
          }
          &::placeholder {
            color: #ccc4bf;
            @include font;
            font-weight: 400;
          }
        }
      }
      button {
        display: block;
        margin: 76px auto 0 auto;
        min-width: 420px;
        height: 95px;
        background: #96120e;
        border-radius: 10vw;
        color: white;
        font-size: 28px;
        span {
          display: inline-block;
          vertical-align: middle;
        }
        &:after {
          display: inline-block;
          vertical-align: middle;
          margin-left: 8px;
          width: 51px;
          height: 12px;
          background:url('../images/투표버튼화살표.png') no-repeat center;
          content:'';
        }
      }
    }

    .event2 {
      margin-top: 130px;
      .content-wrap {
        margin-top: 70px;
        padding-top: 80px;
        width: 1200px;
        height: 1220px;
        background:url('../images/이벤트2배경.png') no-repeat center 0px;
        box-sizing: border-box;
        background-size: contain;
        text-align: center;
        @include media-mo() {
          width: auto;
        }
      }
      .card {
        display: inline-block;
        width: 540px;
        text-align: center;
        margin-right: 15px;
        @include media-mo() {
          width: auto;
        }
        &:last-child {
          margin-right: 0;
        }
        &__inner {
          margin-bottom: 30px;
          padding-top: 44px;
          padding-bottom: 47px;
          border-radius: 20px;
          box-shadow: 6.5px 11.3px 9px 0 rgba(122, 111, 98, 0.22);
          background-color: #f1e8e2;
        }
        &__subtitle {
          font-size: 20px;
          letter-spacing: 8.4px;
          text-align: center;
          color: #c5b8ab;
        }
        &__title {
          margin-top: 16px;
          font-size: 34px;
          color: #322f30;
          @include font(serif);
          font-weight: 500;
        }
        .video {
          position: relative;
          margin: 33px auto 0 auto;
          width: calc(100% - 40px);
          height: 600px;
          background: black;
          cursor: pointer;
          &:before {
            @include absolute-full;
            width: 112px;
            height: 112px;
            background: url('../images/영상플레이버튼.png') no-repeat center;
            background-size: contain;
            content:'';
          }
        }
        .detail {
          margin: 10px 20px 0 0;
          text-align: right;
          font-size: 20px;
          color: #927f6c;
          span {
            position: relative;
            font-weight: 500;
            cursor: pointer;
            &:after {
              position: absolute;
              left: 0;
              bottom: 2px;
              width: 100%;
              height: 1px;
              background: #927f6c;
              content:'';
            }
          }
        }
        .vote-btn {
          position: relative;
          margin-top: 38px;
          width: 420px;
          height: 95px;
          border-radius: 10vw;
          font-size: 28px;
          line-height: 8px;
          color: white;
          background-color: #96120e;
          &:before {
            position: absolute;
            left: 20px;
            top:0;
            bottom: 0;
            margin: auto;
            width: 61px;
            height: 61px;
            background: url('../images/선택되지않은하트.png') no-repeat center;
            background-size: contain;
            content:'';
          }
          &:after {
            display: inline-block;
            margin-left: 4px;
            width: 52px;
            height: 12px;
            background: url('../images/투표버튼화살표.png') no-repeat center;
            background-size: contain;
            vertical-align: middle;
            content:'';
          }
          &.vote1 {
            padding-left: 35px;
          }
          &.vote2 {
            padding-left: 60px;
          }
          &.is-on {
            &:before {
              background: url('../images/선택된하트.png') no-repeat center;
            }
          }
          span {
            display: inline-block;
            vertical-align: middle;
          }
        }
        .video-btn {
          display: inline-block;
          width: 240px;
          height: 60px;
          line-height: 56px;
          text-align: center;
          color: white;
          font-size: 20px;
          border-radius: 10vw;
          &:after {
            display: inline-block;
            margin-left: 8px;
            vertical-align: middle;
            content:'';
          }
          span {
            display: inline-block;
            vertical-align: middle;
          }
          &.video1 {
            background: #52362b;
            margin-right: 18px;
            &:after {
              width: 16px;
              height: 18px;
              background: url('../images/공유하기버튼.png') no-repeat center;
              background-size: contain;
            }
          }
          &.video2 {
            background: #5d493f;
            &:after {
              width: 18px;
              height: 18px;
              background: url('../images/다운로드버튼.png') no-repeat center;
              background-size: contain;
            }
          }
        }
      }
    }

    .tip {
      position: relative;
      margin-top: 60px;
      padding: 40px 0 49px 0;
      border-radius: 20px;
      border: solid 2px rgba(#af7249, 0.15);
      background: rgba(#000, 0.15);
      overflow: hidden;
      .tag {
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        border-right: 120px solid transparent;
        border-top: 120px solid #2e201b;
        font-size: 30px;
        span {
          position: absolute;
          top: -106px;
          left: 15px;
          color: white;
          font-size: 30px;
        }
      }
      &__title {
        padding-left: 44px;
        font-size: 38px;
        text-align: center;
        color: white;
        strong {
          font-weight: 500;
        }
      }
      ul {
        position: relative;
        left: 7px;
        padding-left: 14px;
        max-width: 954px;
        margin: 34px auto 0 auto;
        font-size: 20px;
        color: white;
        font-weight: 300;
        &:before {
          position: absolute;
          left: -10px;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 16px;
          height: 92px;
          background:url('../images/태그말머리.png') no-repeat center;
          content:'';
        }
        li {
          margin-top: 17px;
          &:first-child {
            margin-top: 20px;
          }
          span {
            display: inline-block;
            &:first-child {
              margin-left: 11px;
            }
          }
        }
      }
    }
  }

  .gift-set {
    padding: 72px 0 95px 0;
    background: #ebdace;
    .title-img {
      font-size: 17px;
      color: #96120e;
      text-align: center;
      &:before {
        display: block;
        margin: 0 auto;
        margin-bottom: 12px;
        width: 141px;
        height: 29px;
        background:url('../images/gift-set-title.png') no-repeat center;
        background-size: contain;
        content:'';
      }
    }
    .title {
      margin-top: 54px;
      font-size: 70px;
      color: #4a2e23;
      text-align: center;
      @include font(serif);
    }
    .desc {
      margin-top: 29px;
      font-size: 24px;
      line-height: 1.5;
      text-align: center;
      color: #5d493f;
    }
    .item-wrap {
      margin-top: 53px;
      padding-top: 60px;
      padding-bottom: 53px;
      width: 1200px;
      background: #faf1eb;
      border-radius: 20px;
      text-align: center;
      @include media-mo() {
        width: auto;
      }
      .slick-track {
        // width: auto!important;
        // @include media-mo() {
        //   width: initial!important;
        // }
      }
      .item-content {
        position: relative;
        display: inline-block;
        width: auto!important;
        &:focus {
          outline: none;
        }
        @include media-mo() {
          float:left;
          // width: inherit!important;
        }
        &:after {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          width: 1px;
          height: 100%;
          background: #d6cec9;
          content:'';
          @include media-mo(){
            content: none;
          }
        }
        &:last-child {
          &:after {
            content: none;
          }
        }
        &.one {
          padding-right: 61px;
          .img {
            width: 322px;
            height: 208px;
            background: url('../images/참기름1.png') no-repeat center;
            background-size: contain;
          }
        }
        &.two {
          margin: 0 50px 0 54px;
          padding-right: 55px;
          .img {
            width: 194px;
            height: 228px;
            background: url('../images/참기름2.png') no-repeat center;
            background-size: contain;
          }
        }
        &.three {
          .img {
            width: 336px;
            height: 202px;
            background: url('../images/참기름3.png') no-repeat center;
            background-size: contain;
          }
        }
        p {
          margin-top: 45px;
          font-size: 19px;
          strong {
            display: block;
            margin-bottom: 6px;
          }
        }
      }
    }
    button {
      &.btn-purchase {
        display: block;
        margin: 61px auto 0 auto;
        width: 420px;
        height: 95px;
        background: #4a2e23;
        color: white;
        font-size: 28px;
        border-radius: 10vw;
        &:after {
          display: inline-block;
          margin-left: 20px;
          width: 51px;
          height: 12px;
          background: url('../images/투표버튼화살표.png') no-repeat center;
          background-size: contain;
          vertical-align: middle;
          content:'';
        }
        span {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }

  .link-area {
    padding-top: 92px;
    padding-bottom: 111px;
    background: #e1cdc2;
    text-align: center;
    .title {
      color: #4a2e23;
      font-size: 44px;
      @include font(serif);
      line-height: 1.39;
    }
    .link-wrap {
      margin-top: 71px;
    }
    .link {
      position: relative;
      display: inline-block;
      margin-right: 62px;
      width: 182px;
      height: 74px;
      border-radius: 10vw;
      background: #f1e8e2;
      color: #503633;
      font-size: 19px;
      vertical-align: top;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
      &:before {
        position: absolute;
        left: -51px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 94px;
        height: 94px;
        content:'';
      }
      &:after {
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 12px;
        height: 18px;
        background:url('#{$img-root}link-arrow.png') no-repeat center;
        content:'';
      }
      &.st11 {
        &:before {
          background:url('../images/11번가.png') no-repeat center;
          background-size: contain;
        }
      }
      &.emart {
        &:before {
          background:url('../images/이마트.png') no-repeat center;
          background-size: contain;
        }
      }
      &.lotte {
        &:before {
          background:url('../images/롯데마트.png') no-repeat center;
          background-size: contain;
        }
      }
      &.homeplus {
        &:before {
          background:url('../images/홈플러스.png') no-repeat center;
          background-size: contain;
        }
      }
      &.cjmarket {
        &:before {
          background:url('../images/cj마켓.png') no-repeat center;
          background-size: contain;
        }
      }
      span {
        display: inline-block;
        margin-top: 15px;
        line-height: 1.29;
        text-align: left;
        font-weight: 500;
      }
    }
  }

  .notice {
    padding: 55px 0 58px 0;
    background: #270808;
    .title {
      color: white;
      font-size: 25px;
    }
    ul {
      margin-top: 30px;
      li {
        color: rgba(241, 232, 226, 0.47);
        font-size: 18px;
        margin-top: 17px;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .footer {
    padding: 48px 0 46px 0;
    color: #333;
    background: #e6e6e6;
    .wrapper {
      position: relative;
    }
    li {
      margin-top: 14px;
      &:first-child {
        margin-top: 0;
      }
      .bar {
        display: inline-block;
        margin: 0px 8px;
        background:black;
        width: 1px;
        height: 15px;
        vertical-align: middle;
      }
    }
    p {
      margin-top: 45px;
    }
    &__logo {
      position: absolute;
      top: -10px;
      right: 0;
      width: 199px;
      height: 56px;
      background: url('../images/푸터로고.png') no-repeat center;
      background-size: contain;
    }
  }

  // 팝업 버튼 모음집 (임시) 
  .popup-btns {
    position: fixed;
    bottom: 40px;
    left: 40px;
    button {
      padding: 4px 8px;
      font-size: 14px;
    }
  }
  // 팝업
  .popup {
    display:none;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 11;
    &.block {
      display: block;
    }
    &.type1 {
      .close-btn {
        background: url('../images/팝업닫기버튼-블랙.png');
      }
    }
    &.type2 {
      .close-btn {
        background: url('../images/팝업닫기버튼-화이트.png');
      }
      .popup__wrap {
        width: 860px;
        height: 763px;
      }
      .title {
        padding: 44px 0 42px 0;
        color: white;
        background: #96120e;
        p {
          font-size: 40px;
          font-weight: 600;
        }
        .desc {
          margin-top: 18px;
          font-size: 25px;
        }
      }
      .content {
        width: 688px;
        margin: 20px auto 0 auto;
        text-align: left;
        .input-area {
          margin-top: 20px;
          .input-wrap {
            margin-bottom: 21px;
            font-size: 0;
            &:last-child {
              margin-bottom: 0;
            }
            strong {
              display: inline-block;
              width: 99px;
              font-size: 18px;
              color: #333;
            }
            input {
              border: 1px solid #ddd;
              height: 40px;
              font-size: 16px;
              line-height: 38px;
              box-sizing: border-box;
            }
            &.name {
              input {
                width: 300px;
              }
            }
            &.phone {
              input {
                width:405px;
              }
            }
            &.adress {
              input {
                width: 105px;
                background: #fafafa;
              }
              .btn-red-adress {
                display: inline-block;
                vertical-align: top;
                margin-left: 13px;
                width: 150px;
                height: 40px;
                color: white;
                font-size: 16px;
                background: #96120e;
                text-align: center;
                line-height: 38px;
              }
            }
            &.adress-detail {
              margin-top: -12px;
              .address-detail {
                width: 184px;
                background: #fafafa;
                // width: 589px;
              }
              .address-detail2 {
                width: 260px;
                margin-left: 10px;
                // width: 589px;
              }
            }
          }
        }
      }
    }
    &__inner {
      overflow-y: auto;
      height: 100%;
      text-align: center;
      &:after {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        content:'';
      }
    }
    &__wrap {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      background: #fff;
      border-radius: 8px;
      z-index: 100;
      overflow: hidden;
      .close-btn {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 37px;
        height: 37px;
        cursor: pointer;
      }
      .btn-wrap, .btn-popup-next {
        position: absolute;
      }
      .btn-wrap {
        bottom: 60px;
        right:0;
        left: 0;
        margin: auto;
        text-align: center;
      }
      .btn-red {
        margin-left: 16px;
        width: 280px;
        height: 60px;
        background: #96120e;
        color: white;
        font-size:24px;
        line-height: 60px;
      }
      .btn-gray {
        width: 280px;
        height: 60px;
        margin-left: 12px;
        background: #999;
        color: white;
        font-size: 24px;
        line-height: 60px;
      }
      .btn-popup-next {
        width: 0;
        height: 0;
        border-bottom: 180px solid #96120e;
        border-left: 180px solid #f1e8e2;
        right: 0;
        bottom: 0;
        font-size: 24px;
        color: white;
        span {
          position: absolute ;
          bottom: -161px;
          right: 26px;
          &:before {
            position: relative;
            display: block;
            top: -7px;
            width: 49px;
            height: 16px;
            background: url('../images/recipe-btn-arrow.png') no-repeat center;
            background-size: contain;
            content:'';
          }
        }
      }
    }
    .dim {
      background-color: #000; 
      opacity: 0.5; 
      width:100%; 
      height:100%; 
      position: absolute; 
      top:0; 
      left:0; 
      z-index: 99; 
    }
    &.recipe {
      .popup__wrap {
        width: 920px;
        height: 853px;
        background: #f1e8e2;
        .subtitle {
          margin-top: 50px;
          font-size: 20px;
          letter-spacing: 8.4px;
          text-align: center;
          color: #c5b8ab;
        }
        .title {
          margin-top: 17px;
          font-size: 38px;
          color: #322f30;
          @include font(serif);
          span {
            color: #c93935;
          }
        }
        .content {
          margin-top: 60px;
        }
        .video {
          position: relative;
          display: inline-block;
          margin: 0 40px 0 30px;
          width: 400px;
          height: 500px;
          background: black;
          vertical-align: top;
          &:before {
            @include absolute-full;
            width: 112px;
            height: 112px;
            background: url('../images/영상플레이버튼.png') no-repeat center;
            background-size: contain;
            content:'';
          }
        }
        .list {
          display: inline-block;
          vertical-align: top;
          max-width: calc(100% - 485px);
          text-align: left;
          .list-title {
            margin-bottom: 23px;
            font-size: 25px;
            color: #703c17;
            font-weight: 500;
            span {
              color: #96120e;
            }
          }
          ul {
            margin-top: 18px;
            padding-right: 40px;
          }
          li {
            margin-bottom: 16px;
            @include auto-count(5, 1);
            line-height: 1.5;
            font-weight: 500;
            &:before {
              margin-right: 9px;
              width: 30px;
              height: 30px;
              color: white;
              background: #5d493f;
              border-radius: 50%;
              vertical-align: top;
              line-height: 30px;
            }
            span {
              margin-top: 4px;
              display: inline-block;
              vertical-align: top;
              max-width: calc(100% - 40px);
            }
          }
        }
        
      }
    }
    &.false-answer {
      .popup__wrap {
        width: 480px;
        height: 650px;
        .img {
          display: block;
          margin: 73px auto 0 auto;
          width: 121px;
          height: 172px;
          background: url('../images/다시생각해보세요팝업제품.png') no-repeat center;
          background-size: contain;
        }
        strong {
          display: block;
          margin-top: 32px;
          font-size: 35px;
        }
        p {
          margin-top: 29px;
          font-size: 25px;
          line-height: 1.5;
          span {
            color: #bb140f;
          }
        }
        .btn-red {
          width: 320px;
          height: 70px;
          line-height: 70px;
          bottom: 75px;
        }
      }
    }
    &.agree {
      .popup__wrap {
        width: 720px;
        height: 510px;
        .img {
          display: inline-block;
          margin-top: 59px;
          width: 170px;
          height: 170px;
          border: 1px solid #c1c1c1;
          border-radius: 50%;
          font-size: 120px;
          line-height: 160px;
          color: #a70007;
          font-weight: 600;
        }
        p {
          margin-top: 31px;
          font-size: 25px;
          line-height: 1.5;
        }
      }
    }
  }
}

body {
  &.is-overflow {
    overflow: hidden;
  }
}